<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <style>
            .navbar {
                background-color: #000;
                color: #fff;
                padding: 10px;
                display: flex;
                justify-content: space-between;
            }
            .navbar a {
                color: #fff;
                margin-right: 10px;
            }
            .navbar a:last-child {
                color: #f00;
            }
        </style>
    </head>
    <body>
        <div class="navbar">
            <div>
                <a href="/"><img src="https://i.imgur.com/gKG4Rud.png" alt="Logo" style="width: auto; height: 28px;" /></a>
            </div>
            <div>
                <a href="/">Inicio</a>
                <a href="/promociones">Promociones</a>
                <a href="/vestimentas">Vestimentas</a>
                <a href="/implementos">Implementos</a>
                <a href="/suplementos">Suplementos</a>
                <a href="/usuario/listado">Mi Cuenta</a>
                <a href="/carrito">Carrito</a>
            </div>
            <!-- Barra de búsqueda -->
            <div>
            <!-- Log out button -->
                <div>
                    <a th:href="@{/login}" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i>Log Out</a>
                </div>
            </div>
        </div>
        <h1>Inicio</h1>
    </body>
</html>